<ion-header>
    <ion-navbar core-back-button>
        <ion-title><core-format-text [text]="title"></core-format-text></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher [enabled]="userLoaded" (ionRefresh)="refreshUser($event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="userLoaded">
        <ion-list *ngIf="user && !isDeleted && isEnrolled">
            <ion-item text-center>
                <ion-avatar core-user-avatar class="item-avatar-center" [user]="user" [userId]="user.id" [linkProfile]="false" [checkOnline]="true">
                    <ion-icon name="create" class="core-icon-foreground" *ngIf="canChangeProfilePicture" (click)="changeProfilePicture()"></ion-icon>
                </ion-avatar>
                <h2><core-format-text [text]="user.fullname"></core-format-text></h2>
                <p><core-format-text *ngIf="user.address" [text]="user.address"></core-format-text></p>
                <p *ngIf="user.roles" text-wrap>
                    <strong>{{ 'core.user.roles' | translate}}</strong>{{'core.labelsep' | translate}}
                    <core-format-text [text]="user.roles"></core-format-text>
                </p>
            </ion-item>

            <!--ion-grid class="core-user-communication-handlers" *ngIf="(communicationHandlers && communicationHandlers.length) || isLoadingHandlers">
                <ion-row no-padding justify-content-between *ngIf="communicationHandlers && communicationHandlers.length">
                    <ion-col align-self-center *ngFor="let comHandler of communicationHandlers" text-center>
                        <a (click)="handlerClicked($event, comHandler)" [ngClass]="['core-user-profile-handler', comHandler.class]" title="{{comHandler.title | translate}}" tappable>
                            <core-icon [name]="comHandler.icon"></core-icon>
                            <p>{{comHandler.title | translate}}</p>
                        </a>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col text-center class="core-loading-handlers" *ngIf="isLoadingHandlers">
                        <ion-spinner></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid-->

            <!--a ion-item text-wrap class="core-user-profile-handler" (click)="openUserDetails()" title="{{ 'core.user.details' | translate }}">
                <ion-icon name="person" item-start></ion-icon>
                <h2>{{ 'core.user.details' | translate }}</h2>
            </a-->

            <ion-item-group *ngIf="hasContact">
                <ion-item-divider>{{ 'core.user.contact' | translate}}</ion-item-divider>
                <ion-item text-wrap *ngIf="user.email">
                    <h2>{{ 'core.user.email' | translate }}</h2>
                    <p><a href="mailto:{{user.email}}" core-link auto-login="no">
                        <core-format-text [text]="user.email"></core-format-text>
                    </a></p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.phone1">
                    <h2>{{ 'core.user.phone1' | translate}}</h2>
                    <p><a href="tel:{{user.phone1}}" core-link auto-login="no">
                        <core-format-text [text]="user.phone1"></core-format-text>
                    </a></p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.phone2">
                    <h2>{{ 'core.user.phone2' | translate}}</h2>
                    <p><a href="tel:{{user.phone2}}" core-link auto-login="no">
                        <core-format-text [text]="user.phone2"></core-format-text>
                    </a></p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.address">
                    <h2>{{ 'core.user.address' | translate}}</h2>
                    <p><a [href]="user.encodedAddress" core-link auto-login="no">
                        <core-format-text [text]="user.address"></core-format-text>
                    </a>
                    </p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.city && !user.address">
                    <h2>{{ 'core.user.city' | translate}}</h2>
                    <p><core-format-text [text]="user.city"></core-format-text></p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.country && !user.address">
                    <h2>{{ 'core.user.country' | translate}}</h2>
                    <p><core-format-text [text]="user.country"></core-format-text></p>
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="hasDetails">
                <ion-item-divider>{{ 'core.userdetails' | translate}}</ion-item-divider>
                <ion-item text-wrap *ngIf="user.url">
                    <h2>{{ 'core.user.webpage' | translate}}</h2>
                    <p><a href="{{user.url}}" core-link>
                        <core-format-text [text]="user.url"></core-format-text>
                    </a></p>
                </ion-item>
                <ion-item text-wrap *ngIf="user.interests">
                    <h2>{{ 'core.user.interests' | translate}}</h2>
                    <p><core-format-text [text]="user.interests"></core-format-text></p>
                </ion-item>
                <core-user-profile-field *ngFor="let field of user.customfields" [field]="field"></core-user-profile-field>
            </ion-item-group>
            <ion-item-group *ngIf="user.description">
                <ion-item-divider>{{ 'core.user.description' | translate}}</ion-item-divider>
                <ion-item text-wrap>
                    <p><core-format-text [text]="user.description"></core-format-text></p>
                </ion-item>
            </ion-item-group>


            <ion-item text-center class="core-loading-handlers" *ngIf="isLoadingHandlers">
                <ion-spinner></ion-spinner>
            </ion-item>

            <a *ngFor="let npHandler of newPageHandlers" ion-item text-wrap [ngClass]="['core-user-profile-handler', npHandler.class]" (click)="handlerClicked($event, npHandler)" [hidden]="npHandler.hidden" title="{{ npHandler.title | translate }}">
                <core-icon *ngIf="npHandler.icon" [name]="npHandler.icon" item-start></core-icon>
                <h2>{{ npHandler.title | translate }}</h2>
            </a>

            <ion-item *ngIf="actionHandlers && actionHandlers.length">
                <button *ngFor="let actHandler of actionHandlers" ion-button block outline [ngClass]="['core-user-profile-handler', actHandler.class]" (click)="handlerClicked($event, actHandler)" [hidden]="actHandler.hidden" title="{{ actHandler.title | translate }}" icon-start [disabled]="actHandler.spinner">
                    <core-icon *ngIf="actHandler.icon" [name]="actHandler.icon" start></core-icon>
                    <span>{{ actHandler.title | translate }}</span>
                    <ion-spinner *ngIf="actHandler.spinner"></ion-spinner>
                </button>
            </ion-item>
        </ion-list>
        <core-empty-box *ngIf="!user && !isDeleted && isEnrolled" icon="person" [message]=" 'core.user.detailsnotavailable' | translate"></core-empty-box>

        <core-empty-box *ngIf="isDeleted" icon="person" [message]="'core.userdeleted' | translate"></core-empty-box>
        <core-empty-box *ngIf="!isEnrolled" icon="person" [message]="'core.notenrolledprofile' | translate"></core-empty-box>
    </core-loading>
</ion-content>
